.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.infoText {
  font-size: 30px;
  text-align: center;
}

.infoTextError {
  composes: infoText;
  color: red;
}

.infoTextSuccess {
    composes: infoText;
    color: green;
  }

.fieldContainer {
    margin-top: 20px;
}

.gameField {
    display: flex;
    flex-direction: row;
}

.newGameBtn {
    font-size: 18px;
    margin-top: 15px;
}